@import "bootstrap-variables";
@import "bootstrap-components";


html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}


body {
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


#root {
    height: 100%;
}

